@page
@model Gate_Pass_management.Areas.Identity.Pages.Account.Manage.ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
}
<h3>@ViewData["Title"]</h3>
<p>This will reset your authenticator key. You will need to reconfigure your authenticator app.</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Reset key</button>
</form>
